@{
    ViewBag.Title = "Page Test / HelloWorld";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}





<h2>@ViewBag.Title</h2>

<p id="test">
    Mon teste d’exemple.
</p>


@section ExternalCSS
{
    <style>
        h2 {
            color: white;
        }
    </style>
}

@section ExternalJS
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#test").fadeOut();
        });
    </script>
}