<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My persnnal layout</title>
    @RenderSection("ExternalCSS", true)
</head>
<body style="background-color:#FFBBAA">
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderBody()
    @RenderSection("ExternalJS", true)
</body>
</html>
