@model TodoMVC.Models.Todo

@{
    ViewBag.Title = "Index";
}

<div id="tableDiv" style="border: 1px solid #ffd800"></div>

<div id="todoCreateForm" style="border: 1px solid #ffd800">
    @using (Ajax.BeginForm("AJAXCreate", "Todoes", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/ScriptsCustom/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}