@page "/todo"

<h1>Todo (@todos.Count(w=>!w.IsDone))</h1>

<div class="row">

    <div class="col-4">
        <ul class="list-group mb-5">
            @foreach (var todo in todos)
            {
                <li class="list-group-item">
                    @todo.Title
                </li>
            }
        </ul>
    </div>
</div>